{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Galley Hill Peri Peri</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
 {% csrf_token %}

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Galley Hill Peri Peri</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="nav-buttons" class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/menu">Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/basket"> My Basket <span class="glyphicon glyphicon-shopping-cart"/> </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/account"> My Account <span class="glyphicon glyphicon glyphicon-user" /> </a>
                    </li>
                    {% if request.session.account is not None %}
                    <li>
                        <a class="page-scroll" href="/logout"> Logout <span class="glyphicon glyphicon-log-out" /> </a>
                    </li>
                    {% endif %}
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <section id="menu" class="intro-section">
        <div id="homse" class="container" style="color: black;">
            <div class="row">
                {% for data in products %}
                    {% for category in data %}
                        <div class="col-xs-6 col-md-3">
                            <div class="thumbnail category-box-heading">
                              {{ category.name }}
                                <p class="category-box">
                                    {% for key,value in data.items %}
                                        {% for product in value %}
                                            <p class="category-box-ls"> {{ product.name }} </p>
                                        {% endfor %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <p class="thumbnail category-box">
                      <span class="glyphicon glyphicon-credit-card"></span> <br/>
                        <strong> Card Payment </strong> <br/>
                      <p class="category-box-ls"> We accept Card payment </p>
                    </p>
                  </div>

                  <div class="col-xs-6 col-md-3">
                    <p class="thumbnail category-box">
                      <span class="glyphicon glyphicon-gbp"></span> <br/>
                        <strong> Cash Payment </strong> <br/>
                      <p class="category-box-ls"> We accept Cash payment </p>
                    </p>
                  </div>

                  <div class="col-xs-6 col-md-3">
                    <p class="thumbnail category-box">
                      <span class="glyphicon glyphicon-home"></span> <br/>
                        <strong> Collection </strong> <br/>
                      <p class="category-box-ls"> Order can be collected from the store </p>
                    </p>
                  </div>

                  <div class="col-xs-6 col-md-3">
                    <p class="thumbnail category-box">
                      <span class="glyphicon glyphicon-home"></span> <br/>
                        <strong> Door Delivery </strong> <br/>
                      <p class="category-box-ls"> Order can be delivered to your door step </p>
                    </p>
              </div>
            </div>



{#            <div class="row">#}
{#                <div id="feature-content" class="col-lg-3">#}
{#                    <span class="glyphicon glyphicon-credit-card"></span> <br/>#}
{#                    <strong> Card Payment </strong> <br/>#}
{#                    We accept Card payment#}
{#                </div>#}
{#                <div id="feature-content" class="col-lg-3">#}
{#                    <span class="glyphicon glyphicon-gbp"></span> <br/>#}
{#                    <strong> Cash Payment </strong> <br/>#}
{#                    We accept Cash payment#}
{#                </div>#}
{#                <div id="feature-content" class="col-lg-3">#}
{#                    <span class="glyphicon glyphicon-home"></span> <br/>#}
{#                    <strong> Collection </strong> <br/>#}
{#                    Order can be collected from the store#}
{#                </div>#}
{#                <div id="feature-content" class="col-lg-3">#}
{#                    <span class="glyphicon glyphicon-home"></span> <br/>#}
{#                    <strong> Door Delivery </strong> <br/>#}
{#                    Order can be delivered to your door step#}
{#                </div>#}
{#            </div>#}

            <div class="row">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </section>


      <!-- jQuery -->
{#    <script src="{% static '/js/jquery.js' %} "></script>#}
    <script src="{% static '/js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static '/js/jquery-ui.min.js' %} "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static 'js/bootstrap.min.js' %}></script>

    <!-- Scrolling Nav JavaScript -->
{#    <script src="resources/js/jquery.easing.min.js"></script>#}
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'js/slippry.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
    </script>
</body>

</html>