{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Our Menu</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

 {% csrf_token %}

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Galley Hill Peri Peri</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/menu">Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/basket"> My Basket <span class="glyphicon glyphicon-shopping-cart"/> </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/account"> My Account <span class="glyphicon glyphicon glyphicon-user" /> </a>
                    </li>
                    {% if request.session.account is not None %}
                    <li>
                        <a class="page-scroll" href="/logout"> Logout <span class="glyphicon glyphicon-log-out" /> </a>
                    </li>
                    {% endif %}
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <section id="menu" class="intro-section">
        <div class="container">
            <div class="container">

            {% if request.session.account is None %}
                <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="panel panel-login">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-12">
                          <form id="login-form" action="/login/" method="post" role="form" onsubmit="return checkLoginForm()" style="display: block;">
                               {% csrf_token %}
                            <h2>LOGIN</h2>

                              {% if status == "" and message == "Account is created successfully"%}
                               <div class="alert alert-info" role="alert"> {{ message }} </div>
                                {% endif %}

                              {% if status == "failed" %}
                                <div class="alert alert-danger" role="alert"> {{ message }} </div>
                              {% elif status == "success" %}
                                <div class="alert alert-success" role="alert"> {{ message }} </div>
                              {% endif %}

                              <div class="form-group">
                                <input type="email" name="email" id="login-email" tabindex="1" class="form-control" placeholder="Email" value="">
                              </div>
                              <div class="form-group">
                                <input type="password" name="password" id="login-password" tabindex="2" class="form-control" placeholder="Password">
                              </div>
                              <div class="col-xs-6 form-group pull-right">
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                              </div>
                          </form>

                          <form id="register-form" action="/register/" method="post" role="form" style="display: none;" onSubmit="return checkRegisterForm()">
                               {% csrf_token %}
                            <h2>REGISTER</h2>
                              <p id="validationMessage"> </p>
                              <div class="form-group">
                                <input type="text" name="first_name" id="first_name" tabindex="1" class="form-control" placeholder="First Name" value="">
                              </div>
                              <div class="form-group">
                                <input type="text" name="last_name" id="last_name" tabindex="1" class="form-control" placeholder="Last Name" value="">
                              </div>
                              <div class="form-group">
                                  <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                              </div>
                              <div class="form-group">
                                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                              </div>
                              <div class="form-group">
                                <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                              </div>
                              <div class="form-group">
                                <input type="text" name="phone" id="phone" tabindex="2" class="form-control" placeholder="Phone">
                              </div>
                              <div class="form-group">
                                <input type="text" name="street" id="street" tabindex="2" class="form-control" placeholder="Street">
                              </div>
                              <div class="form-group">
                                <input type="text" name="postcode" id="postcode" tabindex="2" class="form-control" placeholder="Postcode">
                              </div>
                              <div class="form-group">
                                <input type="text" name="city" id="city" tabindex="2" class="form-control" placeholder="City">
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                  </div>
                                </div>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-6 tabs">
                          <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
                        </div>
                        <div class="col-xs-6 tabs">
                          <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% else %}
                <div class="jumbotron">
                    {% if request.session.account.type == "user" %}
                      <h1>My Account</h1>
                      <p>
                          <input class="btn btn-primary btn-lg" id="edit_details_btn" onclick="showEditDetails()" type="submit" value="Edit Details"/>
                          <input class="btn btn-primary btn-lg"  id="show_orders_btn" onclick="showOrders()" type="submit" value="Show Orders"/>
                      </p>
                    {% elif request.session.account.type == "admin" %}
                        <h1>Admin</h1>
                        <p>
                            <input class="btn btn-primary btn-lg" id="admin_edit_details_btn" onclick="showEditDetails()" type="submit" value="Edit Details"/>
                            <input class="btn btn-primary btn-lg"  id="admin_show_orders_btn" onclick="adminShowOrders()" type="submit" value="Show Orders"/>
                        </p>
                    {% endif %}
                </div>

                <div class="row" id="showOrders_div" style="display: none;">
                    <div class="col-lg-12">
                        <div class="form-style-6">
                            <fieldset>
                                <h2> MY ORDER </h2>
                                <table class='table'>
                                    <tr>
                                        <td>Order Id</td>
                                        <td>Product</td>
                                        <td>Payment Type</td>
                                        <td>Delivery</td>
                                        <td>Address</td>
                                        <td>Total</td>
                                        <td>Status</td>
                                        <td>Comment</td>
                                        <td>Ordered on</td>
                                    </tr>
                                    {% for order in orders %}
                                        <tr>
                                            <td> {{ order.id }} </td>
                                            <td> {{ order.product }} </td>
                                            <td> {{ order.paymentType }} </td>
                                            <td> {{ order.deliveryType }} </td>
                                            <td> {{ order.address }} </td>
                                            <td> {{ order.total }} </td>
                                            <td> {{ order.status }} </td>
                                            <td> {{ order.comment }} </td>
                                            <td class="datetime"> {{ order.date }} </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="row" id="editPersonalDetails_div" style="display: none;">
                    <div class="col-lg-12">
                        <div class="form-style-5">
                            <form method="POST" action="/editPersonalDetails/">
                                {% csrf_token %}
                                <fieldset>
                                    <legend><span class="number">1</span> EDIT YOUR DETAILS </legend>
                                        First Name: <input
                                                value="{{ request.session.account.first_name }}"
                                                type="text"
                                                name="edited-first-name"
                                                class="placeholder-override-input"
                                                id="edited-first-name"
                                                required autocomplete="off" />

                                        Last Name: <input
                                                value="{{ request.session.account.last_name }}"
                                                type="text"
                                                name="edited-last-name"
                                                class="placeholder-override-input"
                                                id="edited-last-name"
                                                required autocomplete="off" />
                                        Phone: <input
                                                value="{{ request.session.account.phone }}"
                                                name="edited-phone"
                                                type="text"
                                                class="placeholder-override-input"
                                                required autocomplete="off">
                                        Email Address: <input
                                                value="{{ request.session.account.email }}"
                                                type="text"
                                                name="edited-email"
                                                readonly
                                                class="placeholder-override-input"
                                                required autocomplete="off">
                                </fieldset>
                                <fieldset>
                                    <legend><span class="number">2</span> EDIT YOUR ADDRESS </legend>
                                        Street Name: <input
                                                value="{{ request.session.account.street }}"
                                                type="text"
                                                name="edited-street"
                                                id="edited-street"
                                                class="placeholder-override-input">
                                        Postcode: <input
                                                value="{{ request.session.account.postcode  }}"
                                                type="text"
                                                name="edited-postcode"
                                                class="placeholder-override-input">
                                        City: <input
                                                value="{{ request.session.account.city }}"
                                                type="text"
                                                name="edited-city"
                                                class="placeholder-override-input">
                                </fieldset>
                                <input id="edit_details_btn" type="submit" value="Save"/>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>
        </div>
    </section>

  <!-- jQuery -->
{#    <script src="{% static '/js/jquery.js' %} "></script>#}
    <script src="{% static '/js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static '/js/jquery-ui.min.js' %} "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static 'js/bootstrap.min.js' %}></script>

    <!-- Scrolling Nav JavaScript -->
{#    <script src="resources/js/jquery.easing.min.js"></script>#}
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'js/slippry.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>

    <script>

        $('.datetime').each(function (i, dateTime) {
            var date = $(dateTime).html().split('T')[0];
            var time = $(dateTime).html().split('T')[1].substring(0, 8);
            $(dateTime).html(date+" "+time);
        });

        function showEditDetails() {
            var personalDiv = document.getElementById("editPersonalDetails_div");
            var orderDiv = document.getElementById("showOrders_div");
            if (personalDiv.style.display == "none") {
                orderDiv.style.display = "none";
                personalDiv.style.display = "block";
            } else {
                personalDiv.style.display = "none";
            }
        }

        function showOrders() {
            var personalDiv = document.getElementById("editPersonalDetails_div");
            var orderDiv = document.getElementById("showOrders_div");
            if (orderDiv.style.display == "none") {
                personalDiv.style.display = "none";
                orderDiv.style.display = "block";

            } else
                orderDiv.style.display = "none";
        }

        function adminShowOrders() {
            window.location.replace("/admin1/");
        }

        function show_all_orders_btn() {

        }

        function checkLoginForm() {
            var email = $('#login-email').val();
            var password = $('#login-password').val();

            if (email == "") {
                document.getElementById('login-email').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your E-mail address </div>";

                return false;
            }

            if (password == "") {
                document.getElementById('login-password').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your Password</div>";

                return false;
            }

            return true;
        }

        function checkEmailAvailability(email, csrf) {
            var isAvailable = false;

            $.ajax({
                url: "/checkEmailAvailable/",
                type: 'POST',
                async: false,
                data: {
                    'email' : email,
                    'csrfmiddlewaretoken': csrf
                },
                success: function (result) {
                    if (result === "available") {
                        isAvailable = true;
                    } else {
                        isAvailable = false;
                    }
                }
            });

            return isAvailable;
        }

        function checkRegisterForm() {
            var csrf = $('[name="csrfmiddlewaretoken"]').val();

            var password = $('#password').val();
            var confirm_password = $('#confirm-password').val();
            var email = $('#email').val();
            var city = $('#city').val();
            var postcode = $('#postcode').val();
            var street = $('#street').val();
            var first_name = $('#first_name').val();
            var last_name = $('#last_name').val();
            var phone = $('#phone').val();

            var isAvailable = checkEmailAvailability(email, csrf);

            if (!isAvailable) {
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Account with the email address already exists </div>";

                return false;
            }

            if (password != confirm_password) {
                document.getElementById('password').style.border = "red solid 3px";
                document.getElementById('confirm-password').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> The password does not match </div>";

                return false;
            }

            if (phone == "") {
                document.getElementById('phone').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your phone number </div>";

                return false;
            }

            if (password == "") {
                document.getElementById('password').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your Password </div>";

                return false;
            }

            if (confirm_password == "") {
                document.getElementById('confirm-password').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your Confirm Password </div>";

                return false;
            }

            if (city == "") {
                document.getElementById('city').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your City </div>";

                return false;
            }

            if (postcode == "") {
                document.getElementById('postcode').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your Postcode </div>";

                return false;
            }

            if (street == "") {
                document.getElementById('street').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your Street </div>";

                return false;
            }

            if (first_name == "") {
                document.getElementById('first_name').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your First Name </div>";

                return false;
            }

            if (last_name == "") {
                document.getElementById('last_name').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your Last Name </div>";

                return false;
            }

            if (email == "") {
                document.getElementById('email').style.border = "red solid 3px";
                document.getElementById('validationMessage').innerHTML = "<div class='alert alert-danger' role='alert'> Please enter your Email Address </div>";

                return false;
            }

            return true;
        }
    </script>
</body>
</html>