{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Galley Hill Peri Peri</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
 {% csrf_token %}

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Galley Hill Peri Peri</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="nav-buttons" class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/menu">Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/basket"> My Basket <span class="glyphicon glyphicon-shopping-cart"/> </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/account"> My Account <span class="glyphicon glyphicon glyphicon-user" /> </a>
                    </li>
                    {% if request.session.account is not None %}
                    <li>
                        <a class="page-scroll" href="/logout"> Logout <span class="glyphicon glyphicon-log-out" /> </a>
                    </li>
                    {% endif %}
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <section id="menu" class="intro-section">
        <div id="home" class="container" style="color: black;">
            <div class="row">
                <div id="menu_list" class="col-lg-12">
                    <table class='table'>
                        <tr>
                            <td>Order Id</td>
                            <td>Name</td>
                            <td>Product</td>
                            <td>Payment Type</td>
                            <td>Delivery</td>
                            <td>Address</td>
                            <td>Total</td>
                            <td>Status</td>
                        </tr>
                        {% for order in orders %}
                            <tr>
                                <td> {{ order.id }} </td>
                                <td> {{ order.name }} </td>
                                <td> {{ order.product }} </td>
                                <td> {{ order.paymentType }} </td>
                                <td> {{ order.deliveryType }} </td>
                                <td> {{ order.address }} </td>
                                <td> {{ order.total }} </td>
                                <td> {{ order.status }} </td>
                                <td> <a class="editOrder"  id="{{ order.id }}"> <span class="glyphicon glyphicon-pencil"/> </a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>


      <!-- jQuery -->
{#    <script src="{% static '/js/jquery.js' %} "></script>#}
    <script src="{% static '/js/jquery-3.1.1.min.js' %} "></script>
    <script src="{% static '/js/jquery-ui.min.js' %} "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static 'js/bootstrap.min.js' %}></script>

    <!-- Scrolling Nav JavaScript -->
{#    <script src="resources/js/jquery.easing.min.js"></script>#}
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'js/slippry.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>

    <script>

        var csrf = $('[name="csrfmiddlewaretoken"]').val();

        $(".editOrder").click(function () {
            var orderId = this.id;

            bootbox.prompt({
                title: "Change order status",
                inputType: 'select',
                inputOptions: [
                    {
                        text: 'Order Received',
                        value: 'Order Received',
                    },
                    {
                        text: 'Cooking',
                        value: 'Cooking',
                    },
                    {
                        text: 'Ready',
                        value: 'Ready',
                    },
                    {
                        text: 'Collected or Delivered',
                        value: 'Collected/Delivered',
                    }
                ],
                callback: function (result) {
                    console.log(result);

                    $.ajax({
                        url: "/changeOrder/",
                        type: "POST",
                        data: {'orderId': orderId, 'status': result, 'csrfmiddlewaretoken' : csrf},
                        success: function (result) {
                            console.log("order status saved");
                            location.reload();
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                             alert(errorThrown);
                        }
                    });

                }
            });
        });
    </script>

</body>

</html>